
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Price</th>
                <th>Stock</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of Products$ | async">
                   <td>{{p.Id}}</td>
                   <td>{{p.Title}}</td>
                   <td>{{p.Price}}</td>
                   <td>{{p.Stock}}</td>
                   <td><button (click)="addToCart(p)" class="btn btn-info">Add to Cart</button></td>
            </tr>
        </tbody>

    </table>
</div>

